<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fonts.css' />
  </head>
  <body>
    <section id="header">
      <div class="cover">
        <div id="ham"></div>
          <div class="text">
            <h1 class="fh1">we are</h1>
            <h1 class="bh1">coffee</h1>
          </div>
          <div id="scroll"></div>
        </div>
    </section>
    <section id="connect">
      <div class="conimg">

      </div>
      <div class="title">
        <h1>CONNECT</h1>
        <h4 class="sub">COMM LINKS</h4>
        <p class="text-b">
          Teamspeak is our main form of communication
          <br>
          Discord is where to find the news.
          <br>
          <br>
          Before we can let you into the comms network
          <br>
          we need you to get in contact with:
        </p>
        <ul class="admin">
          <li><a href="http://steamcommunity.com/id/gunner_rya">GunnerRya</a></li>
          <li><a href="http://steamcommunity.com/id/Michijinx">Michi</a></li>
          <li><a href="http://steamcommunity.com/id/Oatsit">Oatsit</a></li>
        </ul>
      </div>
    </section>
    <section id="modset">
      <div id="modset-w">
      <div class="modimg">
        
      </div>
      <div class="title-w">
        <h1>MODSET</h1>
        <h4 class="sub">BIGGER IS BETTER</h4>
        <p class="text-b">
          We use <a href="http://www.armaholic.com/page.php?id=22199">A3Sync</a>.
          <br>
          Get the repo here:
          <br>
          <br>
          <a href="https://coffeearma.com/CoffeeRepo/Coffeerepo">coffeearma.com/CoffeeRepo/Coffeerepo</a>
        </p>
      </div>
      </div>
    </section>
    <section id="sess">
      <div class="title">
        <h1>SESSIONS</h1>
        <h4 class="sub">WAR IS HELL</h4>
        <div class="three">
          <ul class="one-t">
            <h3 class="time-h3">wednesday</h3>
            <li class="time">2200 GMT</li>
            <li class="time">1800 EST</li>
            <li class="time">1500 PST</li>
          </ul>
          <ul class="two-t">
            <h3 class="time-h3">saturday</h3>
            <li class="time">2000 GMT</li>
            <li class="time">1600 EST</li>
            <li class="time">1300 PST</li>
          </ul>
          <ul class="three-t">
            <h3 class="time-h3">sunday</h3>
            <li class="time">2000 GMT</li>
            <li class="time">1600 EST</li>
            <li class="time">1300 PST</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="news">
      <div class="title-nws">
        <h1>NEWS</h1>
        <h4 class="sub-nws">MAIL CALL</h4>
      </div>
        <div class="nws-col">
          <h3 class="nws-t">Weekly Update - 2nd August</h3>
        
          <p class="nws-b">Well. Armastock… happened. It was a very different style of play to our normal sessions,
           and one that we won’t adopt anything from for our own sessions.
           <br>
           <br>
           Armastock News...
           </p>
           <a href="">Read More</a>
        </div>

        <div class="nws-col">
          <h3 class="nws-t">Armastock Modlist</h3>
        
          <p class="nws-b">
          This is the exact message we got in the acog discord,
          we will try to work out our own way of distributing the mods, most likely via a3sync...
           </p>
           <a href="">Read More</a>
        </div>

        <div class="nws-col">
          <h3 class="nws-t">Weekly Update - 19th July</h3>
        
          <p class="nws-b">
          Armastock 2 is coming up in a few weeks, keep an eye on the Discord and/ or the 
          Steam Homepage for another announcement about the modset and how to obtain it.
          <br>
          <br>
          Michi has de facto taken over Wednesday sessions for the foreseeable future...
           </p>
           <a href="">Read More</a>
        </div>
    </section>
    <section id="ft">
      <p class="ft-text">2017 © COFFEE</p>
      <p class="ft-text2">Fuck you 
        <!-- Hearts icon by Icons8 -->
        <!--<img src="https://png.icons8.com/hearts/color/24" width="24" height="24" class="heart">-->
         from the UK</p>
    </section>
  </body>
</html>
